.topbar-container {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  grid-template-areas:
    'logo dropdown notifications'
    'searchbar searchbar searchbar';
  row-gap: 10px;
  box-shadow: 0px 5px 20px -5px var(--box-shadow-color);
  align-items: center;
  width: 100vw;
  padding: 5px 15px;
  position: relative;
  background-color: var(--white-color);
}

.topbar__logo {
  grid-area: logo;
  width: 32px;
  height: auto;
}

@media (min-width: 760px) {
  .topbar-container {
    grid-template-columns: auto 2fr 4fr 1fr;
    grid-template-areas: 'logo dropdown searchbar notifications';
  }
}

@media (min-width: 992px) {
  .topbar-container {
    grid-template-columns: 0.5fr 3.5fr 4fr 4fr;
    grid-template-areas: 'logo dropdown searchbar notifications';
  }
}
