.topbar-container {
  box-shadow: 0px 5px 20px -5px #ddd;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 5px 25px;
  position: relative;
  background-color: #fff;
}

.logo {
  width: 32px;
  height: auto;
}
