.post {
  display: flex;
  align-items: stretch;
  height: 20%;
  width: 80%;
  cursor: pointer;
}

.post__img {
  height: 100%;
  width: auto;
}

.post__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.post_title {
  color: var(--dark-blue-color);
}

.post__author {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.post__date {
  color: var(--light-gray-color);
}

.post__author-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
}

.post__author-name {
  color: var(--dark-blue-color);
}
