.home {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 20px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .home {
    width: 60%;
    padding-top: 0px;
    margin-top: 15px;
    margin-left: 0px;
  }
}
