.sidebar-container {
  width: 17vw;
  display: flex;
  flex-direction: column;
}

.profile-card {
  margin: 15px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 10px 20px 0px #ddd;
}

.profile-card__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-card__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-card__name {
  color: #035aa6;
}

.profile-card__job {
  color: #ccc;
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
}

.profile-card__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.profile-card__footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin: 5px 0;
}

.profile-card__btn {
  border: 1px solid #084177;
  border-radius: 6px;
  width: 35px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card__link {
  text-decoration: none;
  color: #084177;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  width: 70%;
  margin: 0 auto;
}

.sidebar__menu-item {
  padding: 5px;
}

.sidebar__menu-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar__menu-icon {
  height: 30px;
  width: 30px;
  margin-right: 30px;
}

.sidebar__menu-title {
  color: #084177;
}
