.notification-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 150px;
}

.notification__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in;
}

.notification__icon-wrapper:hover {
  background-color: #e6e6e6;
}

.notification__icon-wrapper::after {
  content: '3';
  position: absolute;
  right: -5px;
  top: -2px;
  border-radius: 6px;
  display: block;
  height: 15px;
  width: 20px;
  background-color: lightblue;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
}
