.workspaces {
  margin-top: 30px;
}

.workspaces__title {
  color: var(--dark-blue-color);
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.workspaces__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

/* .workspaces__list::-webkit-scrollbar {
  display: none;
} */
