.workspace {
  width: 250px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 20px -5px var(--box-shadow-color);
}

.workspace__bg {
  width: 100%;
  height: 120px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.workspace__body {
  background-color: var(--white-color);
  height: 150px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.workspace__body-top {
  display: flex;
}

.workspace__tile {
  position: absolute;
  transform: translate(20%, -50%);
  width: 30%;
  height: 80px;
  background-color: var(--white-color);
  box-shadow: 0px 5px 20px -5px var(--box-shadow-color);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workspace__icon {
  width: 50%;
  height: auto;
}

.workspace__title {
  font-size: 16px;
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  color: var(--dark-blue-color);
}

.workspace__body-info {
  margin-top: 80px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.workspace__icon-small {
  width: 20px;
  height: auto;
}

.workspace__update-time {
  margin-left: 10px;
  font-size: 12px;
  color: var(--dark-gray-color);
  font-weight: 300;
}
