.resume-work {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.resume__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.resume-work__title {
  color: var(--dark-blue-color);
  margin-left: 30px;
  width: 55%;
}

.searchbar__container {
  width: 220px;
  border: 1px solid var(--light-gray-color);
  border-radius: 3px;
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resume__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--dark-blue-color);
  width: 130px;
  font-size: 18px;
  cursor: pointer;
}

.resume__dropdown {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.resume__dropdown-btn {
  background: transparent;
  font-size: 14px;
  color: var(--dark-blue-color);
  border-color: var(--dark-blue-color);
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  width: 30%;
  margin: 0 auto;
  list-style: none;
}

.pagination li {
  cursor: pointer;
  color: var(--blue-color);
}
