.dropdown__btn {
  grid-area: dropdown;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  margin-left: 30px;
}

.dropdown__icon--home {
  margin-right: 10px;
  width: 30px;
  height: auto;
}

.dropdown__icon--arrow {
  margin-left: 10px;
}

@media (min-width: 760px) {
  .dropdown__icon--arrow {
    margin-left: 100px;
  }
}
