:root {
  /* colors */
  --white-color: #ffffff;
  --light-blue-color: #f4f9f9;
  --blue-color: #035aa6;
  --dark-blue-color: #084177;
  --light-gray-color: #cccccc;
  --dark-gray-color: #bbbbbb;
  --intense-blue-color: #8fd6e1;
  --box-shadow-color: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f9f9;
}
