* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f9f9;
}

/* kolory:
 biały #ffffff
 błekitno-biały #f4f9f9
 niebieski #035aa6;
 granatowy #084177;
 jasno-szary #ccc
 ciemno-szary #bbbbbb
 błękitny #8fd6e1;
*/
